/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(70,195,172);
    background: linear-gradient(102deg, rgba(70,195,172,1) 0%, rgba(160,31,168,1) 79%);
}

h1{
    margin: 3rem;
    color: pink;
}


#contenedor-juego {
    text-align: center;
}

#resultado button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button {
    --color:  radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(113,94,124,1) 100%);
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
  }
  
  button::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }
  
  button:hover {
    color: rgb(71, 69, 69);
  }
  
  button:before {
    top: 100%;
    left: 100%;
    transition: .3s all;
  }
  
  button:hover::before {
    top: -30px;
    left: -30px;
  }

#opciones {
    margin-top: 20px;
    font-size: 18px; */
  /* } */ 